* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #111;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  height: 70px;
}

header img {
  margin-right: 150px;
  max-width: 100%;
}

header nav a {
  font-size: 16px;
  margin-right: 20px;
  color: #333;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

header nav a:hover {
  color: #000;
  text-decoration: underline;
}

/* home */

.main {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #fbdfdb;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  height: 366px;
  margin: 10px auto 30px auto;
}

.main-image {
  position: absolute;
  bottom: 0;
  right: 100px;
}

.main-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 60px;
}

.main-content h1 {
  font-size: 32px;
  line-height: 38px;
  padding-bottom: 10px;
}

.main-content p {
  width: 300px;
  font-size: 18px;
  line-height: 28px;
}

.recipes h2 {
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 20px;
}

.most-viewed {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.recipe {
  margin-bottom: 20px;
  cursor: pointer;
}

.recipe-img {
  width: 300px;
  height: auto;
  padding-bottom: 10px;
}

.recipe-img img {
  max-width: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.recipe-content h3 {
  font-size: 18px;
  font-weight: normal;
  color: #111;
  line-height: 21px;
}

.recipe-content p {
  font-size: 14px;
  color: #777;
  line-height: 16px;
  padding-top: 5px;
}

footer {
  width: 100%;
  height: 62px;
  background-color: #eee;
  margin-top: 30px;
}

footer p {
  font-size: 14px;
  line-height: 62px;
  color: #999;
  text-align: center;
}

/* página sobre */
nav a.turned {
  font-weight: bold;
}

.about {
  padding-top: 20px;
  padding-bottom: 20px;
}

.about h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  padding-bottom: 20px;
}

.about p {
  font-size: 18px;
  line-height: 28px;
  color: #444;
  padding-bottom: 20px;
}

.about h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  padding-top: 20px;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: relative;
  background-color: #fff;
  width: 60%;
  height: 65%;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  margin: 0 auto;
  top: 25%;
}

.modal-img {
  width: 70%;
  position: relative;
  height: auto;
  margin: auto;
  top: 20px;
}

.modal-img img {
  max-width: 100%;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.modal-content {
  position: relative;
  top: 30px;
  text-align: center;
}

.modal-content h3 {
  position: relative;
  font-size: 24px;
  line-height: 28px;
}

.modal-content p {
  position: relative;
  font-size: 18px;
  color: #777;
  line-height: 21px;
  /* padding-top: 10px; */
}

.modal-content a {
  position: relative;
  font-size: 16px;
  line-height: 19px;
  color: #999;
  top: 10px;
  padding-top: 20px;
}